* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin: 0 20px;
}

nav {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }
.navLinks {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black
}
#hero > img {
  width: 300px;
}
.footerCategory {
  margin-top: 1rem;
}

/* 800 pixels and above */
@media screen and (width >= 800px){
  #root {
    margin: 0 40px;
  }
  nav {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    align-items: center;
  }
  .mobileIcon {
    display: none;
  }
  .navLinks {
    display: flex;
    justify-content: space-between;
  }
  footer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
}